@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);

  /* btn */
  --btn-bg-1: linear-gradient(to right bottom, #212428, #16181c);
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #e4e6ea;
  --color-lighter: #ced0d4;
  --color-lightest: #f0f2f5;
  --color-border: #e6e6e6;
  --color-white: #ffffff;
}

.contact-btn {
  @apply  rounded-lg z-20 hover:font-bold hover:-translate-y-2 transition-transform duration-300;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: var(--shadow-1);
  position: relative;
}
.contact-btn::before {
  @apply rounded-lg;
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  /* background: red; */
  opacity: 0;
  z-index: -1;
}
.contact-btn:hover::before {
  opacity: 1;
}

/* button */
.get-btn {
  @apply  rounded-lg z-20 hover:font-bold;
  background-color: var(--background-color-2);
  position: relative;
}
.get-btn::before {
  @apply rounded-lg;
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-1);
  /* background: red; */
  opacity: 0;
  z-index: -1;
}
.get-btn:hover::before {
  opacity: 1;
}
